body {
    background-image: url(img2.jpg); 
    
}

 
  /* От ландшафтного экрана телефона до потретного планшета */
  @media (max-width: 767px) {  
  }
 
  /* От портретного планшета до ландшафтного экрана и настольных дисплеев */
  @media (min-width: 768px) and (max-width: 979px) {

   }
 
  /* Большой дисплей */
@media (min-width: 1200px) { 

.column {
    background: white;
    padding: 2%;
    border-radius: 10px;
    margin-left: 14% ;
    margin-right: 14%;
    margin-top: 2%;

}

    
.guman {
    background-color: #1faee9
}
